/*testing css*/

div.timeline-frame {
  border: 1px solid #BEBEBE;
  overflow: hidden;
  background-color: #fff;
} 
                                             
div.timeline-axis {
  border-color: #BEBEBE;
  border-width: 1px;
  border-top-style: solid;
}  
div.timeline-axis-grid {
  border-left-style: solid;
  border-width: 1px;
}
div.timeline-axis-grid-minor {
  border-color: #e5e5e5;
}  
div.timeline-axis-grid-major {
  border-color: #bfbfbf;
}  
div.timeline-axis-text {
  color: #4D4D4D;
  padding: 3px;
  white-space: nowrap;
}  

div.timeline-axis-text-minor {
}
 
div.timeline-axis-text-major {
}

div.timeline-event {
  display: inline-block;
  *display: inline;
  padding: 1px 1px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 11px;
  line-height: 13px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #d9d6cd;
  border: 1px solid #a29e93;
/*
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
*/
}

.available {
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


div.timeline-event-selected {
  border-color: #FFC200;
  background-color: #FFF785;
  z-index: 999;
}


div.timeline-event-box {
  text-align: center;   
  border-style: solid;
  border-width: 1px;  
  border-radius: 5px;  
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */ 
}  

div.timeline-event-dot {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  -moz-border-radius: 1px;  /* For Firefox 3.6 and older */
  text-shadow: none; 
  border-color: #bfbfbf;
  background-color: #bfbfbf;
}

div.timeline-event-range {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-event-line {
  border-left-width: 0px;
  border-left-style: solid;
  border-color: #bfbfbf;
  background-color: #bfbfbf;
  background-image: none;
  border-bottom: none;
  border-top: none;
  border-right: none;
} 

div.timeline-event-content {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
}

div.timeline-groups-axis {
  border-color: #BEBEBE;
  border-width: 1px;
}
div.timeline-groups-text {
  color: #4D4D4D;
  padding-left: 10px;
  padding-right: 10px;
}

div.timeline-currenttime {
  background-color: #FF7F6E;
  width: 2px;
}

div.timeline-customtime {
  background-color: #6e94ff;
  width: 2px;
  cursor: move;
}

div.timeline-navigation {
/*
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: gray;

  border: 1px solid #BEBEBE;
  background-color: #F5F5F5;
  border-radius: 2px;
  -moz-border-radius: 2px;
*/
	display: none;
}

div.timeline-navigation-new, div.timeline-navigation-delete, 
    div.timeline-navigation-zoom-in,  div.timeline-navigation-zoom-out, 
    div.timeline-navigation-move-left, div.timeline-navigation-move-right {
  cursor: pointer;
  padding: 10px 10px;
  float: left;
  text-decoration: none;
  border-color: #BEBEBE; /* border is used for the separator between new and navigation buttons */
  
  width: 16px;
  height: 16px;
}

div.timeline-navigation-new {
  /* background: url('img/16/new.png') no-repeat center; */
}

div.timeline-navigation-delete {
  padding: 0px;
  padding-left: 5px;
  background: url('img/16/delete.png') no-repeat center;
}

div.timeline-navigation-zoom-in {
  /* background: url('img/16/zoomin.png') no-repeat center; */
}

div.timeline-navigation-zoom-out {
  /* background: url('img/16/zoomout.png') no-repeat center; */
}

div.timeline-navigation-move-left {
  /* background: url('img/16/moveleft.png') no-repeat center; */
}

div.timeline-navigation-move-right {
  /* background: url('img/16/moveright.png') no-repeat center; */
}
