/* app css stylesheet */

.topmenu {
  list-style: none;
  margin-bottom: 5px;
}

/*
.topmenu:before {
  content: "[";
}

.topmenu:after {
  content: "]";
}
*/

.topmenu > li {
  display: inline;
}

.topmenu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.topmenu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
