
div.timeline-frame {
  border-color: black;
  background-color: white;  
}

div.timeline-axis-text
{
    font-family:arial;
	font-size:11px;
    color:green;
}

/* ------------------------------------ */

div.timeline-event 
{
}

div.timeline-event-selected
{
	color:white;
	background-color:black;
} 

div.timeline-event-dot
{
}

div.timeline-event-range 
{
	border-right-color:black;
	border-bottom-color:black;
	border-radius:0px;
}

div.timeline-event-content
{
}
