@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'EntypoRegular';
  src: url('fonts/entypo-webfont.eot');
  src: url('fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/entypo-webfont.woff') format('woff'),
       url('fonts/entypo-webfont.ttf') format('truetype'),
       url('fonts/entypo-webfont.svg#EntypoRegular') format('svg');
}

span.entypo {
	display: inline;
	float: left;
	font-family: 'EntypoRegular';
}

span.entypo-addon {
	font-size: 1.8em;
}

span.eSmall {
	font-size: 1em;
}

span.eMedium {
	margin-top: -5px;
	margin-right: 5px;
	font-size: 2em;
}

span.eLarge {
	font-size: 3em;
}

span.eXLarge {
	font-size: 4em;
}
html {
	height: 100%;
}
body {
	padding-top: 10px;
	padding-bottom: 40px;
	background: url(../img/knrm-boat.png) bottom right no-repeat;
	background-color: #f2f1ed;
	/* background-image: url(../img/knrm-bg.png) repeat-y; */
}

#status {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	padding-left: 5px;
	height: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
	color: #fff;
	font-size: 11px;
}

#status img {
	margin-right:5px;
	height:16px;
}

#alert {
	position: absolute;
	right: 0;
	bottom: 0;
	bottom: 0;
	z-index: 1000;
	padding: 5px;
	padding-left: 5px;
	height: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
	color: #fff;
	font-size: 11px;
}

h2 {
	color: #474747;
	text-shadow: 1px 1px #e9e6dc;
	font-weight: normal;
}

a {
}


.sidebar-nav {
	padding: 9px 0;
}

nav a {
	font-weight: bold;
}

.navbar-inner {
	/* border-radius: 0; */
}

.nav-list a {
	color: #474747;
}

.nav-list .active a,
.nav-list .active a:hover {
	background-color: #474747;
}

.row-fluid {
	margin-bottom: 5px;
}

.well, .hero-unit {
/* border: none; */
/* -webkit-border-radius: 4px; */
/* -moz-border-radius: 4px; */
/* border-radius: 4px; */
/* background-color: #2c2c2c; */
	background-color:#d9d6cd;
/* background-image: -moz-linear-gradient(top, #fff, #eee); */
/* background-image: -ms-linear-gradient(top, #fff, #eee); */
/* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee)); */
/* background-image: -webkit-linear-gradient(top, #fff, #eee); */
/* background-image: -o-linear-gradient(top, #fff, #eee); */
/* background-image: linear-gradient(top, #fff, #eee); */
/* background-repeat: repeat-x; */
/* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.3); */
/* -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.3); */
/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.3); */
}

.hero-unit {
	overflow: hidden;
	margin-bottom: 25px;
	padding: 40px 30px;
	padding-bottom: 30px;
}

.hero-unit h1 {
	margin-bottom: 15px;
	font-size: 3em;
}

.hero-unit p {
	margin-bottom: 15px;
	font-size: 1.4em;
}

.span4 {
	overflow: hidden;
}

hr {
	margin-top: 10px;
	border-top: 1px solid #474747;
	border-bottom: none;
}

.btn-hanging {
	float: right;
	margin-left: 10px;
}

.tab-pane {
	overflow: hidden; 
	margin-top:-1px;
	padding:20px;
	padding-bottom: 10px;
	border:1px solid #ddd;
}

.tab-content {
	margin-top:-18px;
	background-color: #fff;
}

.pagination {
	text-align: right;
}

.pagination-info {
	display: block;
	margin-top: 2px;
	color: #aaa;
	font-style: italic;
	font-size: .85em;
}

.pagination ul {
}

.pagination ul li a {
	padding: 0 12px;
	line-height: 2.4em;
}

.modalForm input[type=text] { width: 100%;}

.modalForm select { width: 100%;}

.modalForm textarea { width: 95%;}

#ajaxLoader { display: none;}

#alertBye { display:none;}

#alertDiv, #successDiv, #goToLoginBtn, #profileChanged, #passwordChangedButton, #displayMessageModal { display:none;}

iframe {
	border: none;
}

iframe#widgetLocation {
	margin-top: 10px;
	width: 100%;
	height: 350px;
	border: 1px solid #ccc;
}

#messageBalloon {
	position: relative;
}

#balloonPointer {
	position: absolute;
	right: 20px;
	bottom: -12px;
	z-index: 100;
}

.clear {
	clear: both;
}

span.add-on {
}


#ui-datepicker-div, .ui-datepicker{ font-size: 80%; }

#messages {
}

#messages .btn-hanging {
}

.message {
}

.message p {
	text-align: left;
}

dl {
	margin-left: 20px;
}

dt {
}

dd {
	margin-bottom: 15px;
}

#searchResultsPane {
	margin-top: -1px;
}

#groupsList li a:hover, #groupsList li a:focus {
	cursor: pointer;
}

.navbar {
	margin-right: 20px;
	margin-left: 20px;
	height: 40px;
}

.brand {
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 20px;
	padding-bottom: 0;
	width: 60px;
	height: 30px;
	background: url(../img/knrm-logo.png) no-repeat;
	text-indent: -9999px;
}

table {
	border: none;
	background-color:#f2f1ed;
}

table thead {
	background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #676767, #474747);
  background-image: -ms-linear-gradient(top, #676767, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#474747));
  background-image: -webkit-linear-gradient(top, #676767, #474747);
  background-image: -o-linear-gradient(top, #676767, #474747);
  background-image: linear-gradient(top, #676767, #474747);
  background-repeat: repeat-x;
	color: white;
}

#groupTimeline {
	z-index:10;
}
#memberTimeline {
	z-index: 20;
}
#groupTimelineHolder div.timeline-event {
    border: none;
    border-radius: 0;
    background: none;
}
#groupTimelineHolder div.timeline-event-selected {
    border: none;
    background: none;
}
#groupTimelineHolder div.timeline-event-content {
    margin: 0;
    border:none;
}
#groupTimelineHolder div.timeline-event-range {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 0;
}
#groupTimelineHolder div.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    color: white;
    /* height and color is set for each individual bar */
    text-align: center;
}
#groupTimelineHolder div.requirement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid gray;
    background: #e5e5e5;
    text-align: center;
    opacity: 0.5;
}
#groupTimelineHolder div.bar span {
    font-size: 9px;
}
#legends {
  display: block;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
#legends ul {
  margin-left: 1px;
  list-style: none;
}
#legends ul li {
  display: inline;
  float: left;
  margin-right: 25px;
  list-style-image: none;
}
.square {
	float: left;
  margin-top: 1px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}


.timeline-navigation-delete {
	display: none;
}
.wishslot {
	color: white;
	text-align: center;
	text-indent: 0px;
}
.c-0 {
	background-color: black;
}
.c-1 {
	background-color: #e0307f;
}
.c-2 {
	background-color: #7b26c0;
}
.c-3 {
	background-color: #279330;
}
.c-4 {
	background-color: #738156;
}
.c-5 {
	background-color: #6f4627;
}
.c-6 {
	background-color: #3f56b1;
}
.c-7 {
	background-color: #768a39;
}
.c-8 {
	background-color: #5664bd;
}
.c-9 {
	background-color: #78905c;
}
.c-10, .c-11, .c-12, .c-13, .c-14, .c-15, .c-16 {
	background-color: #1d6a96;
}

#composeBtn {
	display: none;
}

#groupTimelineHolder {
  margin-top: -20px;
}
#memberTimeline {
  margin-top: -50px;
}

#browseHappy {
	display: none;
}










#browserlist:before, #browserlist:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

#browserlist:after {
	clear: both;
}

#browserlist {
	zoom: 1;
}

#browserlist li {
	width: 192px;
	float: left;
	margin: 0;
	margin-right: 30px;
}

#browserlist li .icon {
	width: 125px;
	height: 135px;
	margin: 0 auto 20px;
	background: url(../img/browsehappy-sprite.png) no-repeat;
}

#browserlist li#chrome .icon {
	background-position: 0 0;
}

#browserlist li#firefox .icon {
	background-position: -125px 0;
}

#browserlist li#opera .icon {
	background-position: -250px 0;
}

#browserlist li#safari .icon {
	background-position: -375px 0;
}

#browserlist li#ie .icon {
	background-position: -500px 0;
}

#browserlist h2 {
	font: 140%/1 Impact, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #4b4b4b;
	text-shadow: 0 1px 0 #fff;
	background-color: rgba(255,255,255,.9);
	margin: 0 0 10px;
	line-height: 1;
	padding: 8px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wf-leaguegothic1leaguegothic2-n4-active #browserlist h2 {
	font-size: 200%;
	font-family: "league-gothic-1","league-gothic-2";
}

.no-rgba #browserlist h2 {
	background: url(../img/alphabg.png) repeat;
}

#browserlist p {
	padding: 0 5px;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

#browserlist p.info {
	min-height: 140px;
}

#browserlist p.website {
	background-color: rgba(255,255,255,.3);
	line-height: 1;
	margin: 0;
	padding: 8px 5px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.no-rgba #browserlist p.website {
	background: url(../img/alphabg.png) repeat;
}

#browserlist li a:link, #browserlist li a:visited {
	color: #324B4B;
	padding: 30px 10px 10px;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#browserlist li a:hover {
	background: rgba(255,255,255,.7);
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
	text-decoration: none;
}

.no-rgba #browserlist li a:hover {
	background: url(imgs/alphabg.png) repeat;
}

#browserlist li a:hover .website {
	background: #4b4b4b;
	color: #fff;
	/* text-shadow: 0 1px 0 #266E67; */
	text-shadow: none;
}

#browserlist li a:hover .icon {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

#browserlist li a, #browserlist li a .icon {
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}

#browserlist li a .website {
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

#browserlist li a:hover, #browserlist li a:hover .icon {
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}

#browserlist li a:link, #browserlist li a:link .icon {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#browserlist li a:hover .website {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#browserlist li a:link .website {
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}





#menu {
	display: none;
}