<section ng-controller="changePass">
	<div class="span3">
	  <form class="well">
	    <div id="alertDiv" class="alert alert-error">
	      <button id="alertClose" class="close" type="button">×</button><span id="alertMessage">{Alert Message}</span>
	    </div>
	    <h3><span class="entypo eMedium">+</span> Wachtwoord resetten</h3>
	    <hr>
	    <div id="successDiv" class="alert alert-success">
	      <button id="successClose" class="close" type="button">×</button><span id="successMessage">{Success Message}</span>
	    </div>
	    <div id="resetPasswordFormFields">
	      <p>Allen velden zijn verplicht.</p>
	      <div class="control-group">
	        <label class="control-label">Uw emailadres</label>
	        <div class="controls docs-input-sizes">
	          <input id="email" class="span12 disabled" placeholder="Uw emailadres" type="text" disabled>
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label">Wachtwoord</label>
	        <div class="controls docs-input-sizes">
	          <input id="pass1" class="span12" placeholder="Wachtwoord" type="password">
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label">Wachtwoord (Herhalen)</label>
	        <div class="controls docs-input-sizes">
	          <input id="pass2" class="span12" placeholder="Wachtwoord (Herhalen)" type="password">
	        </div>
	      </div>
	      <!-- <a class="btn" href="#" id="loginBtn">Login</a> -->
	      <a class="btn" href="#" id="resetPasswordBtn">Wachtwoord resetten</a>
	      <img id="ajaxLoader" alt="Loading" src="img/ajax-loader.gif" style="margin-left:5px; height:20px;">
	    </div>
	    <a class="btn" href="login.html" id="goToLoginBtn">Ga naar de login pagina</a>
	  </form>
	</div>
</section>
    