<section ng-controller="messagesCtrl">
	<div class="span12 well">
	
	  <div class="btn-group btn-hanging">
    <a class="btn" onclick="composeMessage()"><i class="icon-plus-sign"></i> Opstellen</a>
  </div>
	  
	  <div class="modal hide" id="composeMessage">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" type="button">×</button>
      <h3>Nieuwe bericht samenstellen</h3>
    </div>
      <div class="modal-body">
    		<form id="compose">
          <div class="control-group">
            <label class="control-label">Bericht type</label>
            <div class="controls docs-input-sizes">
            	<div id="smsCheck" style="display:inline;">
            		<input id="sms" type="checkbox" name="sms" value="true" style="margin-right:10px;"> SMS
            	</div>
            	<input id="paigem" name="paigem" type="checkbox" value="true" style="margin-right:10px;"> Interne Bericht
            	<input id="email" name="email" type="checkbox" value="true"> Email
            </div>
          </div>
          <div id="" class="control-group receivers">
            <label class="control-label">Ontvanger</label>
            <div class="controls docs-input-sizes">
              <select class="chzn-select" data-placeholder="Choose a contact.." multiple style="width:530%" tabindex="4"></select>
            </div>
          </div>
          <div id="subjectDiv" class="control-group">
            <label class="control-label">Onderwerp</label>
            <div class="controls docs-input-sizes">
              <input id="title" class="span12" placeholder="" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Bericht</label>
            <div class="controls docs-input-sizes">
              <textarea id="msgcontent" class="span12" name="msgcontent" rows="6"></textarea>
            </div>
          </div>
    		</form>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" href="#"><i class="icon-remove"></i> Annuleer</a>
        <a onclick="sendMessage();" class="btn btn-success"><i class="icon-ok icon-white"></i> Bericht verzenden</a>
      </div>
  </div>
	  
	  <div class="modal hide" id="replyMessage">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" type="button">×</button>
      <h3>Bericht antwoorden</h3>
    </div>
      <div class="modal-body">
    		<form id="reply">
          <div class="control-group receivers">
            <label class="control-label">Ontvanger</label>
            <div class="controls docs-input-sizes">
              <select class="chzn-select" data-placeholder="Choose a contact.." multiple style="width:530%" tabindex="4"></select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Onderwerp</label>
            <div class="controls docs-input-sizes">
              <input id="title" class="span12" placeholder="" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Bericht</label>
            <div class="controls docs-input-sizes">
              <textarea id="" class="span12" id="" name="" rows="6"></textarea>
            </div>
          </div>
    		</form>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" href="#"><i class="icon-remove"></i> Annuleer</a>
        <a id="messageSender" class="btn btn-success" href="#"><i class="icon-ok icon-white"></i> Bericht verzenden</a>
      </div>
  </div>
	  
	  <div class="modal hide" id="displayMessageModal">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" type="button">×</button>
      <h3>Onderwerp</h3>
    </div>
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label"><h4 id="messageDirection"></h4></label>
          <div class="controls docs-input-sizes">
            <span id="messageReceiver"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><h4>Datum</h4></label>
          <div class="controls docs-input-sizes">
            <span id="messageDate"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><h4>Onderwerp</h4></label>
          <div class="controls docs-input-sizes">
            <span class="messageSubject"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><h4>Bericht</h4></label>
          <div class="controls docs-input-sizes">
            <span id="messageContent"></span>
          </div>
        </div>
      </div>
      <div id="displayMessageActions" class="modal-footer"></div>
  </div>
	  
	  <h2><span class="entypo eMedium">w</span> Berichten</h2>
	  <!-- <hr> -->
	  <br />
	  
	  <div class="tabbable">
  
    <ul class="nav nav-tabs">
      <li id="inbox"><a>Inbox</a></li>
      <!-- <li id="outbox"><a><span class="messages_outbox"></span></a></li> -->
      <li id="trash"><a>Prullenbak</a></li>
    </ul>
    
    <div class="tab-content">
      <div id="content" class="tab-pane active">
      	<div id="live"></div>              
      </div>
    </div>
  </div><!-- /tabbable -->
	  
	</div>
</section>